## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/Users/melissa/Downloads/Deep Learning Hw/Resources /charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME', 'STATUS'], axis=1)

In [4]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_vc = application_df['APPLICATION_TYPE'].value_counts()
app_vc

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_vc[app_vc < 50].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_vc = application_df['CLASSIFICATION'].value_counts()
class_vc

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1820        1
C3700        1
C2500        1
C1283        1
C2190        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_vc_1 = class_vc[class_vc > 1]
class_vc_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C2400        6
C1720        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C1246        2
C1256        2
C1267        2
C1234        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_vc[class_vc < 500].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(application_df)
print(df.columns)

Index(['ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T13', 'APPLICATION_TYPE_T19',
       'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5',
       'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'APPLICATION_TYPE_T9', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000',
       'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_C7000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [11]:
# Split our preprocessed data into our features and target arrays
y = df["IS_SUCCESSFUL"].values
X = df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 70
hidden_nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="softplus"))

# output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               4600
_________________________________________________________________
dense_1 (Dense)              (None, 40)                4040
_________________________________________________________________
dense_2 (Dense)              (None, 40)                1640
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 41
=================================================================
Total params: 10,321
Trainable params: 10,321
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=40)

Train on 25724 samples
Epoch 1/40
25724/25724 [==============================] - 3s 135us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 2/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 3/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 4/40
25724/25724 [==============================] - 3s 108us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 5/40
25724/25724 [==============================] - 3s 105us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 6/40
25724/25724 [==============================] - 3s 104us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 7/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 8/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 9/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 10/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 11/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 12/40
25724/25724 [==============================] - 3s 104us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 13/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 14/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 15/40
25724/25724 [==============================] - 3s 104us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 16/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 17/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 18/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 19/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 20/40
25724/25724 [==============================] - 3s 111us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 21/40
25724/25724 [==============================] - 3s 117us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 22/40
25724/25724 [==============================] - 3s 110us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 23/40
25724/25724 [==============================] - 3s 101us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 24/40
25724/25724 [==============================] - 3s 101us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 25/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 26/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 27/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 28/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 29/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 30/40
25724/25724 [==============================] - 3s 101us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 31/40
25724/25724 [==============================] - 3s 103us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 32/40
25724/25724 [==============================] - 3s 105us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 33/40
25724/25724 [==============================] - 3s 104us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 34/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 35/40
25724/25724 [==============================] - 3s 101us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 36/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 37/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 38/40
25724/25724 [==============================] - 3s 102us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 39/40
25724/25724 [==============================] - 3s 108us/sample - loss: 8.2126 - accuracy: 0.4676
Epoch 40/40
25724/25724 [==============================] - 3s 106us/sample - loss: 8.2126 - accuracy: 0.4676

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 8.8328 - accuracy: 0.4676
Loss: 8.211648968176661, Accuracy: 0.4676384925842285

In [17]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')